modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Backend Server"
author = 41107035
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow]]
name = "Frontend Server"
author = 41107035
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Dev Servers"
author = 41107035
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Dev Server"
author = 41107035
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
